/* Global Reset */
@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  overflow-y: scroll;
}


body {
  background-color: #FBF8EF;
  color: #333;
  min-height: 100vh; /* Ensures full height */
  overflow-y: overlay; 

  
}



