/* Global Reset */
@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  overflow-y: scroll;
}


body {
  background-color:white;
  color: #333;
  min-height: 100vh; /* Ensures full height */
  overflow-y: overlay; 

  
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}


